body
{
	margin: 0px;
}

#fenetre
{
	height: 40px;
	background-color: black;
	border-bottom: 2px black solid;
	top: 0px;
	left: 0px;
	right: 0px;
	position: fixed;
	opacity: 0.9;
}

body
{
	background-color: #fff1b0;
	font-family: 'Trebuchet MS', 'times new roman', Arial, sans-serif;
    color: black;
}

#inscription p, #connexion p
{
	margin-top: 5px;
	margin-bottom: 5px;
}

#afficherheure
{
	display: inline-block;
	background-color: white;
	margin-top: 10px;
	margin-left: 15px;
	border-radius: 5px;
}

#inscription
{
	display: inline-block;
	background-color: white;
	position: absolute;
	right: 40px;
	border-radius: 3px;
	margin-top: 5px;
}

#connexion
{
	display: inline-block;
	background-color: white;
	position: absolute;
	right: 200px;
	border-radius: 3px;
	margin-top: 5px;
}

#fond_de_page
{
    width: 880px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 10px;
    border: 1px black ridge;
    box-shadow: 10px 10px 30px black;
    border-radius: 10px;
}

@font-face
{
    font-family: 'Police1';
    src: url('../polices/police1.eot');
    src: url('../polices/police1.eot?#iefix') format('embedded-opentype'),
         url('../polices/police1.woff') format('woff'),
         url('../polices/police1.ttf') format('truetype'),
         url('../polices/police1.svg#Police1') format('svg');
    font-weight: normal;
    font-style: normal;
}

nav a, h1, article h2
{
    font-family: Police1, serif;
    font-weight: normal;
    text-transform: uppercase;
}

#logo
{
    display: inline-block;
    margin: 10px 10px;
}

#separateur
{
	width: 99%;
}

nav
{
    display: inline-block;
    width: 810px;
    text-align: right;
}

nav ul
{
    list-style-type: none;			/* enleve les points */
}

nav li
{
    display: inline-block;
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #252525;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #651110;
    border-bottom: 2px solid #651110;
}

header
{
	height: 200px;
}

#titre h1
{
	font-family: Arial;
	margin-left: 25px;
	margin-bottom: 10px;
}

#titre 
{
	margin-left: 10px;
	width: 860px;
	border-bottom: 1px black solid;
}

article, aside
{
    display: inline-block;
    vertical-align: top;
    text-align: justify;
    font-size: 1.1em;
}

article
{
    width: 570px;
    margin-right: 20px;
}

aside
{
    margin-top: 20px;
    margin-right: 10px;
    width: 240px;
    background-image: url(../images/bois2.jpg);
    box-shadow: 2px 3px 7px black;
    border-radius: 5px;
    padding: 10px;
    color: white;
    text-align: left;
}

#S1E1, aside h1
{
	text-align: center;
}

#para
{
	text-align: justify;
	font-size: 1.1em;
}

article, #para
{
	padding: 5px;
}

#comment h1
{
	border-top: 1px black solid;
	padding-top: 20px;
	padding-left: 30px;
	margin-top: 0px;
}

#comment 
{
	display: block;
	border-bottom:1px black solid;
	height: 230px;
	margin-left: 10px;
	margin-right: 10px;
}

textarea
{
	resize:none;
	width: 50%;
	height: 100px;
	margin-left: 212px;
}

input[type=submit]
{
	margin-left: 402px;
}

#twit
{
	width: 70%;
	margin: auto;
	border: 1px black solid;
	background-color: white;
	list-style-type: none;
	margin-bottom: 20px;
	min-height: 35px;
	border-radius: 5px;
	padding: 3px 3px;
	overflow: auto;
	word-wrap: break-word;
	box-shadow: 3px 3px 15px grey;
}

#twitdate
{
	list-style-type: none;
	float: right;
	border: 1px #6fb5d9 solid;
	border-radius: 5px;
	padding: 1px;
	background-color: #b5cdd9;
}

footer
{
    font-size: 0.8em;
}

footer h1
{
    font-size: 1.2em;
}

#mon_dernier_tweet, #galerie_photos, #pers_princ
{
    display: inline-block;
    vertical-align: top;
}

#mon_dernier_tweet
{
    width: 30%;
}

#galerie_photos
{
    width: 30%;
}

#pers_princ
{
    width: 36%;
}

#galerie_photos img
{
    border: 1px solid #181818;
    margin-right: 3px;
}

#pers_princ ul
{
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    width: 48%;
    padding-left: 1px;
    list-style-type: none;
}
