body
{
	margin: 0px;
}

#fenetre
{
	height: 40px;
	background-color: white;
	border-bottom: 2px black solid;
	top: 0px;
	left: 0px;
	right: 0px;
	position: fixed;
	opacity: 0.7;
}

body
{
	background-color: #fff1b0;
	font-family: 'Trebuchet MS', 'times new roman', Arial, sans-serif;
    color: black;
}

#inscription
{
	display: inline-block;
	position: absolute;
	right: 20px;
	border: 1px black solid;
}

#connection
{
	display: inline-block;
}

#fond_de_page
{
    width: 880px;
    margin: auto;
    margin-top: 40px;
    border: 1px black ridge;
    box-shadow: 10px 10px 30px black;
    border-radius: 10px;
}

@font-face
{
    font-family: 'Police1';
    src: url('../polices/police1.eot');
    src: url('../polices/police1.eot?#iefix') format('embedded-opentype'),
         url('../polices/police1.woff') format('woff'),
         url('../polices/police1.ttf') format('truetype'),
         url('../polices/police1.svg#Police1') format('svg');
    font-weight: normal;
    font-style: normal;
}

nav a, h1
{
    font-family: Police1, serif;
    font-weight: normal;
    text-transform: uppercase;
}

#logo
{
    display: inline-block;
    margin: 10px 10px;
}

#separateur
{
	width: 99%;
}

nav
{
    display: inline-block;
    width: 810px;
    text-align: right;
}

nav ul
{
    list-style-type: none;			/* enleve les points */
}

nav li
{
    display: inline-block;
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #252525;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #651110;
    border-bottom: 2px solid #651110;
}

header
{
	height: 200px;
}

#titre h1
{
	font-family: Arial;
	margin-left: 25px;
	margin-bottom: 10px;
}

#titre 
{
	border-bottom: 1px black solid;
}

article, aside
{
    display: inline-block;
    vertical-align: top;
    text-align: justify;
    font-size: 1.1em;
}

article
{
    width: 570px;
    margin-right: 20px;
}

aside
{
    margin-top: 20px;
    margin-right: 10px;
    width: 240px;
    background-image: url(../images/bois2.jpg);
    box-shadow: 2px 3px 7px black;
    border-radius: 5px;
    padding: 10px;
    color: white;
    text-align: left;
}

#S1E1, aside h1
{
	text-align: center;
}

#para
{
	text-align: justify;
	font-size: 1.1em;
	border-bottom: 1px black solid;
}

article, #para
{
	padding: 5px;
}

#comment 
{
	display: block;
	border-bottom:1px black solid;
	height: 200px;
}

textarea
{
	resize:none;
	width: 50%;
	height: 100px;
	margin-left: 25%;
}

input[type=submit]
{
	margin-left: 40%;
}

#mess li
{
	width: 70%;
	border: 1px black solid;
	background-color: white;
	list-style-type: none;
	margin-bottom: 20px;
	min-height: 50px;
	border-radius: 5px;
	padding: 3px 10px;
	overflow: auto;
	word-wrap: break-word;
}
