doctype html
html
	head
		meta(charset='utf-8')
		link(rel='stylesheet', href='testbis.css')
		title Teen Wolf
	body
		#fond_de_page
			header
				img#logo(src='../public/images/logo1.png', alt='Logo de Teen Wolf')
				nav
					ul
						li
							a(href='/') Accueil
						li
							a(href='#') La Série
						li
							a(href='#') Episothèque
						li
							a(href='#') Personnages
						li
							a(href='#') Acteurs
			img.separateur(src='../public/images/separateur.png', alt='')
