doctype html
html
	head
		meta(charset='utf-8')
		link(rel='stylesheet', href='stylesheets/style.css')
		title Teen Wolf
	body
		h1 Conditions générales d'utilisation
		p Les conditions sont trés simple : il faut me mettre au minimum un 15 à ce projet pour pouvoir vous inscrire.
