extends layout

block content
	#bloc_page
		header
			img#logo(src='image/logo.png', alt='Logo de Teen Wolf')
			nav
				ul
					li
						a(href='#') Accueil
					li
						a(href='#') La Série
					li
						a(href='#') Episothèque
					li
						a(href='#') Personnages
					li
						a(href='#') Acteurs	
