extends layout

block content
		#fond_de_page
			header
				img#logo(src='images/logo.png', alt='logo teen wolf')
				nav
					ul
						li
							a(href='#') Accueil
						li
							a(href='#') La Série
						li
							a(href='#') Episothèque
						li
							a(href='#') Personnages
						li
							a(href='#') Acteurs
				img#separateur(src='images/separateur.png', alt'')
			#photo_de_couverture
				#bande
					| Voici les 5 acteurs principaux de la saison 1
					a.bouton_rouge(href='#')
						| Voir Galerie 
						img(src='images/flecheblanchedroite.png', alt='')
			section
				article
					h1 Synopsis
					p
						| Une nuit, un jeune lycéen joueur de crosse, Scott McCall, se promène dans les bois à la recherche d'un cadavre et se fait attaquer par un énorme loup. Il s'en sort avec une morsure à l'abdomen, mais il découvre bientôt qu'il est devenu un loup-garou. Avec l'aide de son meilleur ami Stiles, d'un mystérieux loup-garou nommé Derek et de sa petite amie Allison, il doit trouver un équilibre entre sa nouvelle identité et les nombreux dangers qu'elle présente pour sa vie d'adolescent. Tout au long des saisons, il s'efforce de protéger ses proches ainsi que d'en apprendre davantage sur sa condition de loup-garou et des mystères qui l'entourent.
					h3 Première saison (2011)
					p
						| L'histoire de la première saison démarre lors d'une nuit, un jeune joueur de crosse, Scott McCall, se promène dans les bois à la recherche d'un cadavre et se fait attaquer par un loup-garou. Il s'en sort avec une morsure à l'abdomen, mais découvre plus tard qu'il est devenu un loup-garou. Avec l'aide de son meilleur ami Stiles et d'un mystérieux loup-garou, Derek Hale, il doit trouver un équilibre entre sa nouvelle identité et les nombreux dangers qu'ils représentent pour sa vie d'adolescent.
					h3 Deuxième saison (2012)
					p
						| Dans cette nouvelle saison, Scott et ses amis sont confrontés à un nouvel ennemi, bien plus puissant qu'ils ne le croient : le « kanima », qui met la ville de Beacons Hills sens dessus dessous. Les chasseurs ainsi que les loups-garous tentent de l'arrêter en découvrant son origine et le lien entre les morts qu'il engendre.
					h3 Troisième saison (2013-2014)
					p
						| Dans la première partie de cette saison, une meute d'Alphas arrive à Beacon Hill. Scott et Derek vont devoir les combattre pour sauver leurs vies et celles de leurs amis. En parallèle, une nouvelle série de meurtres débutent et s'avèrent être en réalité des sacrifices humains.
						| Dans la deuxième partie, des démons japonais, les onis, arrivent à Beacon Hills. Cherchant d'abord à retrouver le nogitsune qui possède Stiles, ils vont ensuite se retourner contre Scott et ses amis.
					h3 Quatrième saison (2014)
					p
						| Lors de la quatrième saison, Scott, désormais un vrai alpha, est confronté à un mystérieux personnage qui se fait appeler le Bienfaiteur et aux tueurs qui veulent se débarrasser de toutes les créatures surnaturelles de Beacon Hills. De plus, il va également créer son premier bêta, et va devoir apprendre à faire face à cette nouvelle responsabilité.
						| Dans le même temps, Kate Argent revient d'entre les morts, tandis que Derek perd ses pouvoirs.
				aside
					h1 À propos de Teen Wolf
					p#tn
						img(src='images/teen.jpg', alt='image saison 1')
					p Titre original : Teen Wolf
					p Genre : Série dramatique pour adolescents, Fantastique, Horreur
					p Création	: Jeff Davis
					p
						u
							| Acteurs principaux
							li Tyler Posey
							li Dylan O'Brien
							li Tyler Hoechlin
							li Holland Roden
							li Arden Cho
							li Shelley Hennig
							li Dylan Sprayberry
					p Pays d'origine : États-Unis
					p Chaîne d'origine	: MTV
					p Nb. de saisons : 4
					p Nb. d'épisodes : 60 
					p Durée : 41 minutes
				img#separateur(src='images/separateur.png', alt'')
			footer
				#mon_dernier_tweet
					h1 Dernier commentaire
					p Saison ?, épisode ? :
					p blabla !
					p la date
				#galerie_photos
					h1 Galerie photos
					p
						img(src='images/tws1.jpg', alt='Scott McCall saison 1')
						img(src='images/kanima.jpeg', alt='Kanima')
						img(src='images/peter.jpeg', alt='Peter')
						img(src='images/matt.jpg', alt='Jackson')
				#pers_princ
					h1 Personnages principaux
					ul
						li Scott McCall
						li Stiles Stilinski
						li Derek Hale
						li Lydia Martin
					ul
						li Allison Argent
						li Jackson Whittemore
						li Kira Yukimura
						li Malia Hale
