doctype html
html
	head
		meta(charset='utf-8')
		link(rel='stylesheet', href='testbis.css')
		title Teen Wolf
	body
		#fond_de_page
			header
				img#logo(src='../public/images/logo1.png', alt='Logo de Teen Wolf')
				nav
					ul
						li
							a(href='/') Accueil
						li
							a(href='#') La Série
						li
							a(href='#') Episothèque
						li
							a(href='#') Personnages
						li
							a(href='#') Acteurs
			img.separateur(src='../public/images/separateur.png', alt='')
			#titre
				h1 S1.E1 La morsure - Wolf moon
			section
				article
					h2 Résumé de l'épisode
					p
						| Durant la nuit, des policiers cherchent dans la forêt un cadavre munit de chiens renifleurs.
					p
						| Scott est rentré chez lui, il se brosse les dents mais entend un bruit et sort avec une batte de baseball. Apeuré, il se rend compte que cet intrus n'est autre que Stiles Stilinski, son meilleur ami. Stiles lui raconte que la moitié d'un corps a été retrouvée par la police.
					p
						| Les deux ados se rendent à la réserve de Beacon Hills pour chercher le reste du corps. Le Shérif Stilinski, le père de Stiles, aperçoit Stiles dans les bois et le ramène à la maison, tandis que Scott se dérobe à sa vue. En partant, Scott trébuche par inadvertance et tombe sur l'autre moitié du cadavre. Il voit soudain un loup et commence à courir. Rattrapé par le loup, Scott est mordu. Scott survit à l'attaque, puis sort de la forêt pour arriver sur la route où il est presque heurté par une voiture. Il inspecte son corps et voit la morsure du loup sur son flanc droit.
					p
						| Le lendemain au lycée de Beacon Hill, Scott parle de l'incident à Stiles. Ce dernier aime bien l'idée d'avoir un loup-garou comme ami. En classe, Scott découvre que ses capacités se sont développées, comme une meilleure ouïe. Une nouvelle étudiante, Allison Argent, arrive dans la classe de Scott. Il a entendu qu'elle avait besoin d'un stylo et il se retourne pour lui en prêter un. Il réalise ensuite qu'il a entendu grâce à son ouïe.
					p
						| Plus tard, Scott utilise ses pouvoirs pour écouter la conversation d'Allison. Il met à l'épreuve ses nouvelles capacités durant l'entrainement de crosse. Ses réflexes sont décuplés, personne ne peut marquer avec lui dans les cages.
					p
						| Scott et Stiles parlent à nouveau. Stiles blague sur le fait que c'est bientôt la pleine lune et que cela aura des effets sur lui, étant un loup-garou.
					p
						| Les deux ados tentent de revenir sur les traces de leur escapade nocturne, là où Scott a vu le cadavre mais il n'est plus là. Ils sont confrontés à Derek Hale qui leur dit que c'est une propriété privé. Scott ne semble pas le connaître, mais Stiles lui raconte son histoire, sa famille ayant péri dans un incendie.
					p
						| Après le lycée, Scott poursuit son travail à la clinique vétérinaire de Beacon Hills, où il est l'assistant du vétérinaire, Dr.Deaton, qui est absent. Quelqu'un frappe à la porte, et il s'agit d'Allison. Elle lui raconte qu'elle vient de percuter un chien en voiture, qu'elle l'a installé dans son coffre mais qu'il ne laisse personne l'approcher. Scott semble l'hypnotiser avec ses pouvoirs de loup-garou et le chien se calme, permettant à Scott de le caresser et de le soigner, tout en continuant de parler à Allison. Au moment où celle-ci s'apprête à partir, il lui propose qu'ils sortent ensemble le vendredi soir, ce qu'elle accepte.
					p
						| Après avoir fini son job pour la soirée, Scott rentre chez lui pour aller au lit. Seulement, il se réveille dans la forêt. Le loup qui l'a mordu est là mais Scott s'enfuit en courant et se retrouve dans la piscine d'un voisin.
					p
						| Scott se retrouve confronté par Jackson Whittemore, le capitaine de l'équipe de crosse qui pense que Scott prend des stéroïdes. Il lui dit ne pas en prendre mais Jackson ne le croit pas.
					p
						| Scott devient un des meilleur joueur de l'équipe de crosse, ce qui rend l'équipe et le coach Finkstock content et Allison le remarque sur le terrain alors qu'elle discute avec son amie, Lydia, qui se trouve être la copine de Jackson. Stiles prend maintenant très au sérieux toute cette histoire de loup-garou et met en garde Scott contre la soif de sang qu'ont les loups-garous à la pleine lune. Il lui dit d'annuler son rendez-vous avec Allison, mais Scott ne le fait pas.
					p
						| A la soirée, Scott et Allison passent un bon moment, mais Scott a de drôles de sensations lorsque qu'il sent la transformation de loup-garou arrivée. Il s'enfuit alors, laissant Allison seule, vite accostée par Derek.
					p
						| Stiles va voir Scott en lui disant que Derek est le seul responsable de tout cela, ainsi que le responsable du meurtre de la personne retrouvée dans les bois. Scott arrive au bout de sa transformation et trouve Derek. Les deux sont sur le point de se battre, mais leur querelle est rapidement interrompue par un groupe de chasseurs de loup-garou qui en ont après eux. Derek aide Scott, et ils s'enfuient tous les deux. Scott a l'occasion de voir les visages des chasseurs.
					p
						| En fin de journée, Scott va s'excuser pour avoir disparu si vite auprès d'Allison. Elle accepte de lui laisser une seconde chance mais leurs retrouvailles sont interrompues par l'arrivée du père d'Allison, l'un des chasseurs de loup-garous.
				aside
					h1 La morsure
					h1 Wolf moon
					p Saison 1,Épisode 1
					img#bulle(src='S1E1bis.jpg', alt='teen wolf')
					p Scénariste : Jeff Davis
					p Réalisateur : Russell Mulcahy
					p Date de tournage : 17 janvier 2011 -> 22 janvier 2011
					p
						| Diffusion
						ul
							li 5 Juin 2011
							li 3 Octobre 2011
							li 30 Juin 2012
						p Épisode suivant : S2.E2 Transformation Incontrolé - Second Chance at First line

